.git
.gitignore
.dockerignore
.env

# Ignore Java compiled files
target/
*.jar
*.class

# Ignore Frontend local system files safely
frontend/node/
frontend/node_modules/
frontend/dist/
frontend/.env
src/main/frontend/

# Ignore IDE files
.idea/
.vscode/
*.iml
.settings/
.classpath
.project
